.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 100px);
  text-align: center;
}

mat-card-header{
  justify-content: center;
}

mat-card {
  box-sizing: border-box;
  width: 400px;
}

mat-card-title {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.loader-status ::ng-deep .mat-progress-spinner circle,
.loader-status ::ng-deep .mat-spinner circle {
  stroke: #fff;
}

@media only screen and (max-width: 600px){
  /* [320px -> 600px] */
  mat-card {
    width: calc(100% - 32px);
  }
}

