/* You can add global styles to this file, and also import other style files */
//@import "~bootstrap/dist/css/bootstrap.css";
//@import "~font-awesome/css/font-awesome.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { font-family: Roboto, Arial, sans-serif; height: 100%; margin: 0; background-color: aliceblue; font-size: 14px;}

//.mat-cell {
//  align-content: start !important;
//  text-align: start !important;
//}
//.mat-header-cell {
//  align-content: start !important;
//  text-align: start !important;
//}
//
//.page-container{
//  padding: 1em;
//}
//
//.users-container{
//  margin-top:3em;
//}
