/* You can add global styles to this file, and also import other style files */
//@import "~bootstrap/dist/css/bootstrap.css";
//@import "~font-awesome/css/font-awesome.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { font-family: Roboto, Arial, sans-serif; width: 100%; height: 100%; margin: 0; background-color: aliceblue; font-size: 14px;}

@media only screen and (max-width: 600px) {
  .full-width-dialog { // .mat-dialog-container {
    max-width: calc(100vw - 16px) !important;
  }
  .mat-dialog-container {
    padding: 8px !important;

  }
  .mat-dialog-content {
    padding: 0 8px !important;
    margin: 0 -8px !important;
  }
  .mat-dialog-title p{
    font-size: 14px;
  }
  //.mat-dialog-actions {
  //  margin-bottom: 0 !important; //-24px;
    .action-buttons-container div{
      display: flex;
      flex-direction: column;
      button {
        margin-bottom: 8px;
        margin-left: 0; //8px;
      }
    }
  //}
}

//.mat-cell {
//  align-content: start !important;
//  text-align: start !important;
//}
//.mat-header-cell {
//  align-content: start !important;
//  text-align: start !important;
//}
//
//.page-container{
//  padding: 1em;
//}
//
//.users-container{
//  margin-top:3em;
//}
