<!--<div class="users-container">-->

<!--  <mat-form-field class="container col-md-4">-->
<!--    <label>-->
<!--      <input-->
<!--        matInput-->
<!--        (keyup)="applyFilter($event.target.value)"-->
<!--        placeholder="Filter by User ID or External User ID"-->
<!--      />-->
<!--    </label>-->
<!--  </mat-form-field>-->

<!--  <div class="mat-elevation-z8">-->
    <table mat-table class="full-width-table" matSort aria-label="Subjects List">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let subject"> {{subject.id}} </td>
      </ng-container>

      <!-- User ID Column -->
      <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> User ID </th>
        <td mat-cell *matCellDef="let subject">
          <span [matTooltip]="subject.userId" matTooltipPosition="after" matTooltipHideDelay="10000">
            {{(subject.userId | slice:0:13) + '...'}}
          </span>
        </td>
      </ng-container>

      <!-- External User ID Column -->
      <ng-container matColumnDef="externalUserId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> External User ID </th>
        <td mat-cell *matCellDef="let subject"> {{subject.externalId}} </td>
      </ng-container>

      <!-- Source Type Column -->
      <ng-container matColumnDef="sourceType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Source Type </th>
        <td mat-cell *matCellDef="let subject"> {{subject.sourceType}} </td>
      </ng-container>

      <!-- Start Date Column -->
      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
        <td mat-cell *matCellDef="let subject"> {{subject.startDate | date}} </td>
      </ng-container>

      <!-- End Date Column -->
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
        <td mat-cell *matCellDef="let subject"> {{subject.endDate | date}} </td>
      </ng-container>

      <!-- Authorized Column -->
      <ng-container matColumnDef="authorized">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Authorized </th>
        <td mat-cell *matCellDef="let subject"> {{subject.isAuthorized? "Yes":"No"}} </td>
      </ng-container>

      <!-- Actions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let subject">
          <button mat-icon-button color="primary" (click)="openSubjectDialog('view', subject)">
<!--            [routerLink]="['/users', subject.id]"-->
            <!--            ngbTooltip="Info/Edit"-->
            <mat-icon>visibility</mat-icon>
          </button>
          <button *ngIf="!subject.isAuthorized" mat-icon-button matTooltip="Register/Link" color="primary" (click)="openSubjectDialog('add')">
            <mat-icon>add_link</mat-icon>
          </button>
          <button *ngIf="subject.isAuthorized" mat-icon-button color="warn" (click)="openUnauthorizeDialog(subject)" >
            <!--            ngbTooltip="Delete"-->
            <mat-icon>link_off</mat-icon>
          </button>
          <button *ngIf="subject.isAuthorized" mat-icon-button  matTooltip="This will re-pull all the data for this user"
                  color="warn" (click)="openSubjectDialog('edit', subject)">
<!--            ngbTooltip="Reset"-->
            <mat-icon>update</mat-icon>
          </button>

        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let rowData; columns: columnsToDisplay"></tr>
    </table>
    <mat-paginator #paginator
                   [length]="dataSource?.data?.length"
                   [pageIndex]="0"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
<!--  </div>-->

<!--  <table mat-table [dataSource]="dataSource" matSort>-->
<!--    <ng-container matColumnDef="id">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>-->
<!--      <td mat-cell *matCellDef="let user"> {{user.id}} </td>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="userId">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header> User ID </th>-->
<!--      <td mat-cell *matCellDef="let user">-->
<!--        <span-->
<!--        [matTooltip]="user.userId"-->
<!--        matTooltipPosition="after"-->
<!--        matTooltipHideDelay="10000">-->
<!--        {{(user.userId | slice:0:13) + '...'}}-->
<!--      </span>-->
<!--    </td>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="externalUserId">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header> External User ID </th>-->
<!--      <td mat-cell *matCellDef="let user"> {{user.externalId}} </td>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="sourceType">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header> Source Type </th>-->
<!--      <td mat-cell *matCellDef="let user"> {{user.sourceType}} </td>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="startDate">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>-->
<!--      <td mat-cell *matCellDef="let user"> {{user.startDate | date}} </td>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="endDate">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>-->
<!--      <td mat-cell *matCellDef="let user"> {{user.endDate | date}} </td>-->
<!--    </ng-container>authorized-->
<!--    <ng-container matColumnDef="authorized">-->
<!--      <th mat-header-cell *matHeaderCellDef mat-sort-header> Authorized </th>-->
<!--      <td mat-cell *matCellDef="let user"> {{user.isAuthorized? "Yes":"No"}} </td>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="actions">-->
<!--      <th mat-header-cell *matHeaderCellDef> Actions </th>-->
<!--      <td mat-cell *matCellDef="let user">-->
<!--        <button mat-icon-button color="primary" [routerLink]="['/users', user.id]" ngbTooltip="Info/Edit">-->
<!--          <mat-icon>info</mat-icon>-->
<!--        </button>-->
<!--        <button *ngIf="!user.isAuthorized" mat-icon-button matTooltip="Register/Link" color="primary" (click)="registerUser()">-->
<!--          <mat-icon>person_add</mat-icon>-->
<!--        </button>-->
<!--        <button mat-icon-button ngbTooltip="Reset" matTooltip="This will re-pull all the data for this user"-->
<!--                color="warn" (click)="openResetDialog(user)">-->
<!--          <mat-icon>replay</mat-icon>-->
<!--        </button>-->
<!--        <button mat-icon-button color="warn" (click)="openDeleteDialog(user)" ngbTooltip="Delete">-->
<!--          <mat-icon>delete</mat-icon>-->
<!--        </button>-->
<!--      </td>-->
<!--    </ng-container>-->
<!--    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>-->
<!--    <tr mat-row *matRowDef="let rowData; columns: columnsToDisplay"></tr>-->
<!--  </table>-->

<!--  <table *ngIf="!dataSource.data.length">-->
<!--    <tr>-->
<!--      <td style="text-align: center;" [attr.colspan]="columnsToDisplay.length">-->
<!--        No users found-->
<!--      </td>-->
<!--    </tr>-->
<!--  </table>-->

<!--  <mat-paginator [hidden]="!dataSource.data.length"-->
<!--                 [pageSizeOptions]="[10, 20, 50]"-->
<!--    showFirstLastButtons-->
<!--  ></mat-paginator>-->
<!--</div>-->
