.container{
  padding: 16px;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-wrapper{
  display: flex;
  justify-content: center;
  margin: 0 8px;
  .form-field{
    width: 300px;
  }
}

//.flex-gap {
//  display: inline-flex;
//  flex-wrap: wrap;
//}
//
//.flex-gap > div {
//  margin: 6px; /* HERE WE ADD THE SPACE */
//}
//mat-card-content
