<div class="container">
  <mat-card>
    <mat-card-content>
      <ng-container *ngIf="!projects || projects.length < 1">No project assign to you!</ng-container>
      <ng-container *ngIf="!sourceClients || sourceClients.length < 1">No Source Type Defined!</ng-container>

<!--      <ng-container *ngIf="projects && projects.length === 1">One project</ng-container>-->
<!--      <ng-container *ngIf="sourceClients && sourceClients.length === 1">One source type</ng-container>-->


      <form *ngIf="projects && projects.length && sourceClients && sourceClients.length" [formGroup]="form" novalidate>
        <div class="form-wrapper">
          <mat-form-field class="form-field" appearance="outline" floatLabel="always">
            <mat-label>{{ 'ADMIN.GENERAL.project' | translate }}</mat-label>
            <mat-select *ngIf="projects && projects.length > 1" formControlName="project"
                        [placeholder]="'ADMIN.DASHBOARD_PAGE.projectSelect.placeholder' | translate"
                        (selectionChange)="onProjectSelectionChange($event)">
              <mat-option *ngFor="let project of projects"
                          [value]="project.id">
                {{project.id}}
              </mat-option>
            </mat-select>
            <input *ngIf="projects && projects.length === 1" matInput [value]="projects[0].id" disabled>
            <mat-error *ngIf="form.controls['project'].hasError('required')">
              {{ 'ADMIN.DASHBOARD_PAGE.projectSelect.error' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
        <div *ngIf="selectedProject" class="form-wrapper">
          <mat-form-field class="form-field" appearance="outline" floatLabel="always">
            <mat-label>{{ 'ADMIN.GENERAL.sourceClient' | translate }}</mat-label>
            <mat-select *ngIf="sourceClients && sourceClients.length > 1" formControlName="sourceClient"
                        [placeholder]="'ADMIN.DASHBOARD_PAGE.sourceClientSelect.placeholder' | translate"
                        (selectionChange)="onSourceClientSelectionChange($event)">
<!--              <mat-option *ngFor="let sourceClient of sourceClients"-->
<!--                          [value]="sourceClient.sourceType" style="display: flex; align-items: center;"><img src="assets/images/source-logo/cib-fitbit.svg" alt="Source Logo" style="width: 18px;">-->
                <mat-option *ngFor="let sourceClient of sourceClients"
                            [value]="sourceClient.sourceType">
                {{sourceClient.sourceType}}
              </mat-option>
            </mat-select>
            <input *ngIf="sourceClients && sourceClients.length === 1" matInput [value]="sourceClients[0].sourceType" disabled>
            <mat-error *ngIf="form.controls['sourceClient'].hasError('required')">
              {{ 'ADMIN.DASHBOARD_PAGE.sourceClientSelect.error' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </form>
<!--      <p>Selected project {{selectedProject}} is not in the projects {{projects | json}}</p>-->
      <app-users-list *ngIf="selectedProject && selectedSourceClient"
                      [sourceClients]="sourceClients"
                      [projects]="projects"
                      [project]="selectedProject"
                      [sourceClient]="selectedSourceClient">
      </app-users-list>
    </mat-card-content>
  </mat-card>
</div>
