<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="logo-wrapper left-box box">
      <img class="logo" src="../../../assets/images/radar-logo.svg" alt="RADAR-base Logo" />
    </div>
    <div class="box center-box"><span class="title">RADAR-base REST Source Authorizer</span></div>
    <div class="box right-box">
      <button
        *ngIf="showMenu"
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logoutHandler()">
          <span>Log Out</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
