mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
  //margin-bottom: 32px;
}

mat-toolbar-row{
  display: flex;
  //justify-content: center;
}

.title {
  text-align: center !important;
  flex: 1 1 auto;
}

.logo-wrapper{
  padding: 8px 0;
}

.logo {
  display: block;
  height: 48px;
}

.left-box.box, .right-box.box {
  flex: 1;
  display: flex;
  min-width: -webkit-min-content; /* Workaround to Chrome bug */
}
.right-box.box {
  justify-content: flex-end;
}
//
//.left-box {
//  justify-self : flex-start;
//}
//
//.right-box {
//  justify-self : flex-end;
//}

//.box {
//  flex: 1;
//  display: flex;
//  justify-content: center;
//}
//
//.box:first-child > span { margin-right: auto; }
//
//.box:last-child  > span { margin-left: auto;  }
//
///* non-essential */
//.box {
//  align-items: center;
//  border: 1px solid #ccc;
//  background-color: lightgreen;
//  height: 40px;
//}
//p {
//  text-align: center;
//  margin: 5px 0 0 0;
//}
