<form [formGroup]="deviceTypeForm" class="form-group container">
  <div class=" text-center">
    <label for="field_deviceType">Select device type : </label>
      <select class="form-control" id="field_deviceType" formControlName="selectedDeviceType"
              (change)="onChange($event.target.value)">
        <option selected disabled value="">-- select a third party service --</option>
        <option [value]="deviceType" *ngFor="let deviceType of deviceTypes">{{deviceType}}</option>
      </select>
  </div>
</form>
<form *ngIf="deviceAuthDetail" class="form-group" ngNoForm method="GET"
      [action]="deviceAuthDetail.authorizationEndpoint">
  <input type="hidden" name="response_type" value="code"/>
  <input type="hidden" name="client_id" [value]="deviceAuthDetail.clientId"/>
  <input type="hidden" name="state" [value]="deviceAuthDetail.deviceType"/>
  <input type="hidden" name="scope" [value]="deviceAuthDetail.scope"/>
  <input type="hidden" name="prompt" value="login"/>
  <!--<input type="hidden" name="redirect_uri" [value]="callbackUrl"/>-->
  <button class="btn btn-success" type="submit" >Request to authorize</button>
</form>

