<toolbar [showMenu]="true"></toolbar>

<div class="page-container">

  <ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">
    {{errorMessage}}
  </ngb-alert>

  <div class="container col-md-4">
<!--    <rest-source-user-registration-form></rest-source-user-registration-form>-->
    <a mat-raised-button color="primary" [routerLink]="'users:link'">Link Subject to Source</a>

    <form class="form-group">
      <div class="container text-center">
        <label for="field_projects">Project:</label>
        <select class="form-control" id="field_projects"
                (change)="updateProject($event.target.value)">
          <option [selected]="!selectedProject" value="">Select a project</option>
          <option [selected]="project.id===selectedProject" [value]="project.id" *ngFor="let project of restSourceProjects">{{project.id}}</option>
        </select>
      </div>
    </form>
  </div>

  <rest-source-list *ngIf="selectedProject" [project]="selectedProject"></rest-source-list>
</div>
