<h1 mat-dialog-title>Reset User in project {{data.projectId}}?</h1>
<div mat-dialog-content>
  <p>This will pull all the data for the user (Project: <strong>{{data.projectId}}</strong>, User ID: <strong>{{ data.externalId }} ({{data.userId}})</strong> with Service User ID: <strong>{{data.serviceUserId}}</strong>) again in the specified date range.</p>
  <p>Are you sure you want to continue resetting?
  <p>If yes, please proceed by pressing the <strong>Ok</strong> button.</p>
  <br>
  <p>Optionally, you can change the date range if required:</p>
  <mat-form-field>
    <input matInput [matDatepicker]="picker1" placeholder="Choose a Start Date"
           [formControl]="startDateFormControl" (dateChange)="updateStartDateValue($event)">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
  <br/>
  <mat-form-field>
    <input matInput [matDatepicker]="picker2" placeholder="Choose an End Date"
           [formControl]="endDateFormControl" (dateChange)="updateEndDateValue($event)">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeResetDialog()">Cancel</button>
  <button mat-button color="accent" [mat-dialog-close]="dataCopy">Ok</button>
</div>
