<div class="container">
  <div class="text-center">
    <label for="field_sourceType">Select an external service: </label>
    <select
      [(ngModel)]="selectedSourceType"
      class="form-control"
      id="field_sourceType"
    >
      <option [ngValue]="sourceType" *ngFor="let sourceType of sourceTypes">{{
        sourceType
      }}</option>
    </select>
  </div>
  <br />

  <button [disabled]="!selectedSourceType" class="btn btn-success" type="submit" (click)="requestToAuthorize()">
    Request to authorize
  </button>
</div>
<br />
