.mat-sort-header-container {
  align-items: center;
}

td {
  margin-left: 5px;
  margin-right: 5px;
  align-content: center;
  text-align: center;
  overflow: auto;
}

.reset-info {
  margin-left: 5px;
  margin-right: 5px;
  align-content: center;
  text-align: start;
  overflow: auto;
  overflow-wrap: normal;
  white-space: nowrap;
  width: 60px;
}

.mat-header-cell {
  margin-left: 10px;
  margin-right: 10px;
  align-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

table {
  width: 100%;
  overflow: auto;
}
