<ngb-alert *ngIf="errorMessage" type="danger" (close)="errorMessage = null">{{ errorMessage}}</ngb-alert>
<div *ngIf="restSourceUser" class="container col-md-3">
  <h3> Enter details for User with External User Id: {{restSourceUser.externalUserId}}</h3>
  <form>
    <div class="form-group">
      <label for="projectId">Project Id: </label>
      <input class="form-control" name="projectId" type="text" [(ngModel)]="restSourceUser.projectId" id="projectId"  placement="top" ngbTooltip="Project name from ManagementPortal">
    </div>

    <div class="form-group">
      <label for="userId">User Id: </label>
      <input class="form-control" name="userId" type="text" [(ngModel)]="restSourceUser.userId" id="userId" placement="top" ngbTooltip="Subject Id from ManagementPortal">
    </div>


    <div class="form-group">
      <label for="sourceId">Source Id: </label>
      <input class="form-control" name="sourceId" disabled type="text" [(ngModel)]="restSourceUser.sourceId" id="sourceId">
    </div>

    <div class="form-group">
      <label for="startDate">Start Date: </label>
      <div class="input-group" placement="top" ngbTooltip="Start date to collect data from this source">
        <input id="startDate" class="form-control" placeholder="yyyy-mm-dd"
               name="startDate" [(ngModel)]="startDate" ngbDatepicker #e="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="e.toggle()" type="button" ></button>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="endDate">End Date: </label>
      <div class="input-group" placement="top" ngbTooltip="End date to collect data from this source">
        <input id="endDate" class="form-control" placeholder="yyyy-mm-dd"
               name="endDate" [(ngModel)]="endDate" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
        </div>
      </div>
    </div>

    <button type="button" (click)="updateRestSourceUser()" class="btn btn-success">Submit</button>
  </form>
</div>
