.container{
  padding: 16px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper{
  display: flex;
  justify-content: center;
  margin: 0 8px;
  .form-field{
    width: 300px;
  }
}

@media only screen and (max-width: 700px){
  /* [325px -> 700px] */
  form {
    display: block;
  }
  .form-wrapper {
    margin: 0;
  }
}
