.table-container {
  width: 100%;
  //height: calc(100vh - 335px);
  //overflow: auto;
}

table {
  width: 100%;
  min-width: 980px;

}

tr:nth-of-type(even) {
  background: #f7f7f7;
}

.form-field {
  margin-right: 16px;
}

.full-width-table {
  //width: 100%;
}
.w-200{
  flex: 0 0 200px !important;
  width: 200px !important;
  //width: 200px;
}
.w-120{
  width: 120px;
}
.w-100{
  width: 100px;
}

.w-80{
  width: 80px;
}

//.mat-column-username {
//  word-wrap: break-word !important;
//  white-space: unset !important;
//  flex: 0 0 28% !important;
//  width: 28% !important;
//  overflow-wrap: break-word;
//  //word-wrap: break-word;
//
//  word-break: break-word;
//
//  -ms-hyphens: auto;
//  -moz-hyphens: auto;
//  -webkit-hyphens: auto;
//  hyphens: auto;
//}



.tag {
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.tag-warn{
  background-color: rgba(darkred, 0.3);
}

.tag-success{
  background-color: rgba(darkgreen, 0.3);
}

.reset-filters {
  margin-left: 16px;
}

.error-container{
  font-size: 14px;
  line-height: initial;
  font-weight: normal;
}

.loader-container {
  width: 100%;
  display: flex;
  background: rgba(255,255,255,0.5);
  z-index: 1;
  justify-content: center;
}

//.user-id{
//
//  //overflow-wrap: break-word;
//  //word-wrap: break-word;
//  //
//  //word-break: break-word;
//  //
//  //-ms-hyphens: auto;
//  //-moz-hyphens: auto;
//  //-webkit-hyphens: auto;
//  //hyphens: auto;
//}

.filter-container{
  //border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f7f7f7;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0; // .25em 0;
  }
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0 ; // 1.34375em; */
  }
}

.mobile-filter-container{
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: .25em 0;
  }
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0 ; // 1.34375em; */
  }
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 0; //24px;
}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 0; //24px;
}

.mini-fab-filters{
  display: none;
  position: fixed;
  bottom: 32px;
  left: 32px;
  z-index: 999;
}


@media only screen and (max-width: 1200px){
  /*Tablets [601px -> 1200px]*/
  //.table-container {
  //  //height: calc(100vh - 302px);
  //}
  ////.filter-container{
  ////  display: none;
  ////}
  ////.mini-fab-filters{
  ////  display: block;
  ////  position: fixed;
  ////  top: 32px;
  ////  left: 32px;
  ////  z-index: 999;
  ////}
  //.reset-filters {
  //  margin-left: 0 ; //16px;
  //  margin-top: 16px;
  //  width: 100%;
  //}
  //.mobile-filter-container{
  //  mat-form-field{width: 100% !important;}
  //}
  table {
    width: 100%;
    min-width: 100%;
  }
  .m-w-150{
    width: 140px;
    max-width: 140px;
  }
  .m-w-100{
    width: 100px;
    max-width: 100px;
  }
  .m-w-80{
    width: 70px;
    max-width: 70px;
  }
  .ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 16px;
  }
  .t-hide{
    display: none;
  }
}
@media only screen and (max-width: 700px){
  /*Big smartphones [426px -> 600px]*/
  //.table-container {
  //  height: calc(100vh - 302px);
  //}
  .filter-container{
    display: none;
  }
  .mini-fab-filters{
    display: block;
  }
  .reset-filters {
    margin-left: 0 ; //16px;
    margin-top: 16px;
    width: 100%;
  }
  .mobile-filter-container{
    mat-form-field{width: 100% !important;}
  }
  //table {
  //  width: 100%;
  //  min-width: 100%;
  //}
  .m-w-150{
    width: 100px;
    max-width: 100px;
  }
  .m-w-100{
    width: 80px;
    max-width: 80px;
  }
  .m-w-80{
    width: 80px;
    max-width: 80px;
  }
  .ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 16px;
  }
  .m-hide, .t-hide{
    display: none;
  }
}
@media only screen and (max-width: 425px){
  /*Small smartphones [325px -> 425px]*/
}

