.table-container {
  width: 100%;
}

table {
  width: 100%;
  min-width: 980px;
}

tr:nth-of-type(even) {
  background: #f7f7f7;
}

.filter-fields {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.w-180 {
  width: 180px;
  max-width: 180px;
}

.w-150 {
  width: 150px;
  max-width: 150px;
}

.w-80{
  width: 80px;
  max-width: 80px;
}

.tag {
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.tag-warn{
  background-color: rgba(darkorange, 0.3);
}

.tag-success{
  background-color: rgba(darkgreen, 0.3);
}

.tag-info{
  background-color: rgba(darkblue, 0.3);
}

.tag-error{
  background-color: rgba(darkred, 0.3);
}

.filter-container {
  border-radius: 5px;
  background-color: #f7f7f7;
  padding: 8px;
  gap: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

th.mat-mdc-header-cell:last-of-type, td.mat-mdc-cell:last-of-type, td.mat-mdc-footer-cell:last-of-type {
  padding-right: 0;
}

tr.mat-mdc-no-data-row {
  height: 52px;
}

th.mat-mdc-header-cell:first-of-type, td.mat-mdc-cell:first-of-type, td.mat-mdc-footer-cell:first-of-type {
  padding-left: 0;
}

.mini-fab-filters{
  display: none;
  position: fixed;
  bottom: 32px;
  left: 32px;
  z-index: 999;
}

.mobile-filter-container {
  display: flex;
  gap: 12px;
  margin-right: 16px;
  flex-wrap: nowrap;
  flex-direction: column;
}

@media only screen and (max-width: 1200px){
  /* [320px -> 1200px]*/
  table {
    width: 100%;
    min-width: 100%;
  }

  .m-w-120{
    width: 120px;
    max-width: 120px;
  }

  .ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 16px;
  }

  .t-hide{
    display: none;
  }
}

@media only screen and (max-width: 700px){
  /* [320px -> 700px] */
  .filter-container {
    display: none;
  }

  .mini-fab-filters{
    display: block;
  }

  .reset-filters {
    margin-left: 0;
    margin-top: 16px;
  }

  .mobile-filter-container {
    mat-form-field {
      width: 100% !important;
    }
  }

  .m-w-140{
    width: 100px;
    max-width: 100px;
  }

  .m-w-100{
    width: 80px;
    max-width: 80px;
  }

  .m-hide, .t-hide{
    display: none;
  }
}
