.container{
  //display: flex;
  //align-items: center;
  //justify-content: center;
  //min-height: calc(100% - 64px);
  padding: 16px;
}
mat-card{
  //width: 100%;//400px;
}

.page-container {
  text-align: center;
}

.full-width {
  width: 100%;
}

.link-rest-source-user-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

//.col {
//  flex: 1;
//  margin-right: 20px;
//}
//
//.col:last-child {
//  margin-right: 0;
//}

.label{
  width: 100px;
}

.field{
  flex-grow: 1;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}

//.close-button{
//  float: right;
//  top:-24px;
//  right:-24px;
//}
//
////.close-icon {
////  transition: 1s ease-in-out;
////}
//
////.close-icon:hover {
////  transform: rotate(180deg);
////}
//
//::ng-deep .icon-outside .close-button{
//  float: right;
//  top:-52px;
//  right:-52px;
//}
//
//::ng-deep .icon-outside .mat-dialog-container {
//  overflow: unset
//}
//::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0 !important;}
//::ng-deep .mat-form-field-appearance-outline .mat-form-field-label { margin-top:-15px; }
//::ng-deep label.ng-star-inserted { transform: translateY(-0.59375em) scale(.75) !important; }
//
//::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0 !important;}
//::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }
//
//::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
//  transform: translateY(-1.1em) scale(.75);
//  width: 133.33333%;
//}
