.container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100% - 64px);
}

mat-card {
  box-sizing: border-box;
  width: 400px;
}

mat-card-header{
  justify-content: center;
  text-align: center;
}

mat-card-content{
  text-align: center;
}

.loader-container {
  width: 100%;
  display: flex;
  background: rgba(255,255,255,0.5);
  z-index: 1;
  justify-content: center;
}


@media only screen and (max-width: 1200px){
  /*Tablets [601px -> 1200px]*/
  mat-card {
    width: calc(100% - 32px);
  }
}
//@media only screen and (max-width: 600px){
//  /*Big smartphones [426px -> 600px]*/
//}
//@media only screen and (max-width: 425px){
//  /*Small smartphones [325px -> 425px]*/
//}
