mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
  overflow: hidden;
}

.left-box, .right-box {
  flex: 1;
  display: flex;
}

.right-box {
  justify-content: flex-end;
}

.logo {
  height: 48px;
}

mat-icon + span {
  margin: 0 8px;
}

.uppercase {
  text-transform: uppercase;
}

@media only screen and (max-width: 1200px){
  /* [320px -> 1200px] */

  .title {
    font-size: 14px;
  }

  .logo {
    height: 32px;
  }
}

@media only screen and (max-width: 600px){
  /* [320px -> 600px] */

  .logo-wrapper {
    display: none;
  }

  .mat-mdc-button {
    padding: 0 4px;
  }
}
