mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
  overflow: hidden;
}

.logo-wrapper {
  height: 75%;
  flex: 1 1;
}

.logo {
  height: 100%;
}

.spacer {
  flex: 1 1 auto;
}

mat-icon + span {
  margin: 0 8px;
}

.uppercase {
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  /* [320px -> 600px] */

  .title {
    font-size: 75%;
  }
  .logo-wrapper {
    display: none;
  }
  .icon-label {
    display: none;
  }
}
