.message-box{
  width: 100%;
  max-width: 500px;
  padding: 16px;
  text-align: center;
  margin: auto auto 32px;
  color: white;
  font-size: 14px;
  line-height: initial;
  font-weight: normal;
  box-sizing: border-box;
}

.error {
  background-color: red;
}

//.warn {
//  background-color: darkorange;
//}
//
//.info {
//  background-color: dodgerblue;
//}

//.error-container{
//  font-size: 14px;
//  line-height: initial;
//  font-weight: normal;
//}
//
