<alert-comp></alert-comp>
<form>
  <div *ngIf="deviceUser" class="input">
    <label> Enter details for DeviceUser User Id: {{deviceUser.externalUserId}} </label>
    <div class="input">
      <label>Subject Id/ User Id: </label>
      <input type="text" [(ngModel)]="deviceUser.userId" name="userId">
    </div>

    <div class="input">
      <label>Project Id: </label>
      <input type="text" [(ngModel)]="deviceUser.projectId" name="projectId">
    </div>
    <button (click)="updateDeviceUser()"> Update DeviceUser details</button>
  </div>
</form>
