.container{
  padding: 16px;
}

.dialog-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    margin: 0;
  }
}

.full-width {
  width: 100%;
}

.link-for-user-label{
  margin: 0;
}
.link-for-user-container {
  display: flex;
  margin-bottom: 8px;
  //width: 100%;
  .link-for-user { //mat-form-field {
    flex-grow: 1;
    border: 1px solid rgba(0,0,0,0.7);
    border-radius: 5px;
    padding: 8px;
    overflow-wrap: anywhere;
    margin: 0;
    white-space: pre-wrap
    //textarea {
    //  resize: none;
    //}
  }
}

.action-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  div {
    button {
      margin-left: 8px;
    }
  }
}


::ng-deep.mat-form-field-appearance-outline.mat-form-field .mat-form-field-outline{
  color: rgba(0,0,0,0.7);
}

::ng-deep.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline{
  color: rgba(255,0,0,0.06);
}

::ng-deep.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label{
  //color: rgba(0,255,0,0.5);
}

::ng-deep.mat-input-element:disabled,
::ng-deep.mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
  color: rgba(0,0,0,0.6);
}


.linkForUser ::ng-deep.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline{
  color: rgba(0,0,0,1);
}

.linkForUser ::ng-deep.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label{
  color: rgba(0,0,0,1);
}

.linkForUser ::ng-deep.mat-input-element:disabled,
.linkForUser ::ng-deep.mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
  color: rgba(0,0,0,1);
}

