<ng-container *ngIf="!mainLoading">
  <app-toolbar (languageSwitched)="switchLanguage($event)"></app-toolbar>
  <div *ngIf="loading" class="loader-container" >
    <mat-spinner diameter="30"></mat-spinner>
    <div><p>{{ 'loading' | translate }} ...</p></div>
  </div>
  <div class="main-container">
    <router-outlet></router-outlet>
  </div>
  <footer class="footer">
    <div>{{ 'title' | translate }} | version: {{ version }}. </div>
    <div>
      <span>Powered by </span>
      <a href="https://radar-base.org/" target="_blank">RADAR-base</a>
      <span> | </span>
      <a class="github-link" href="https://github.com/RADAR-base/" target="_blank">
        <img class="github-logo" src="assets/images/GitHub-Mark-120px-plus.png" alt="Github logo">
      </a>
    </div>
  </footer>
</ng-container>

<ng-container *ngIf="mainLoading">
  <div class="loader-container" >
    <mat-spinner diameter="30"></mat-spinner>
  </div>
</ng-container>
