.container{
  //display: flex;
  //align-items: center;
  //justify-content: center;
  //min-height: calc(100% - 64px);
  padding: 16px;
}
mat-card{
  //width: 100%;//400px;
}

.page-container {
  text-align: center;
}

.form-wrapper{
  display: flex;
  justify-content: center;
  .form{
    width: 300px;
  }
}
