.logo {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: both;
}

button {
  border-radius: 8px;
  font-weight: bold;
}

.btn-container {
  justify-content: center;
  text-align: center;
}

.loading {
  display: flex;
  flex: 1 1 0;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.desc {
  margin: 24px;
}
