.table-container {
  width: 100%;
  height: calc(100vh - 200px);
  overflow: auto;
}

table {
  width: 1600px;
}

tr:nth-of-type(even) {
  background: #f7f7f7;
}

.form-field {
  margin-right: 16px;
}

.full-width-table {
  //width: 100%;
}
.w-200{
  flex: 0 0 200px !important;
  width: 200px !important;
  //width: 200px;
}
.w-120{
  width: 120px;
}
.w-100{
  width: 100px;
}

.w-80{
  width: 80px;
}

.tag {
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.tag-warn{
  background-color: rgba(darkred, 0.3);
}

.tag-success{
  background-color: rgba(darkgreen, 0.3);
}

.reset-filters {
  margin-left: 16px;
}

.error-container{
  font-size: 14px;
  line-height: initial;
  font-weight: normal;
}

.loader-container {
  width: 100%;
  display: flex;
  background: rgba(255,255,255,0.5);
  z-index: 1;
  justify-content: center;
}

.user-id{

  //overflow-wrap: break-word;
  //word-wrap: break-word;
  //
  //word-break: break-word;
  //
  //-ms-hyphens: auto;
  //-moz-hyphens: auto;
  //-webkit-hyphens: auto;
  //hyphens: auto;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 0; //24px;
}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 0; //24px;
}
